{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    {% if user.is_authenticated %}
    <h1>All Posts</h1>

    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <!-- Form that allows user to make a new post -->
    <div class="container border border-dark rounded pst">
        <h4>Write a New Post...</h4>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>



    {% for post in all_posts %}
        <div class="container border border-dark rounded pst">
            <h5>{{ post.author }}</h5>
            <h6>{{ post.post_date }}</h6>
            <p>{{ post.content }}</p>
            <p>❤️  {{ post.num_likes }}</p>
        </div>
    {% endfor %}

    {% else %}
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Quarantine Social!</h1>
        <p class="lead">Please log in or register to get started.</p>
        <hr class="my-4">
        <p>C'mon, how much harm is one more social media platform gunna do?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
        </p>
    </div>     
    {% endif %}
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/feed.js' %}"></script>
{% endblock %}