{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h1>{{ desired_user.username }}</h1>
    <h5>Followers: {{ desired_user.num_followers }}</h5>
    <h5>Following: {{ desired_user.num_following }}</h5>

    {% if user.is_authenticated %}
    <!-- Only display to users that are logged in -->
    {% if user != desired_user %}
        <!-- The user who is logged in is not on their own page -->
        {% if is_following %}
            <a class="btn btn-outline-primary" id="UnfollowButton" href="{% url 'unfollowUser' username=desired_user.username %}" role="button">Unfollow</a>
        {% else %}
            <a class="btn btn-primary" id="FollowButton" href="{% url 'followUser' username=desired_user.username %}" role="button">Follow</a>
        {% endif %}
    {% endif %}
    {% endif %}



    <div class="container border border-dark rounded pst">
        {% for post in posts %}
            <div class="d-flex pt-3">
                
                <div class="pb-3 mb-0 medium lh-sm border-bottom w-100">
                    <div class="container">
                        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#007bff"></rect>
                            <text x="90%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                        </svg>
                        <strong class="text-gray-dark"><a href="{% url 'profile' username=post.author %}">{{ post.author }}</a></strong>
                        <span> · {{ post.post_date }}</span>
                        <p>{{ post.content }}</p>
                        <p><button type="button" class="btn btn-link like_unlike_btn" id="{{post.id}}">❤️</button>{{ post.num_likes }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
            <!-- <li class="page-item"><a class="page-link" href="?page=1">First Page</a></li> -->
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>

            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            <!-- <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last Page</a></li> -->
        {% endif %}
    </ul>


</div>

<script src="{% static 'network/feed.js' %}"></script>
{% endblock %}
